.gameContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 70vh;
}

@media only screen and (max-width: 600px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 55vh 15vh 10vh;
    grid-template-areas:
      "h "
      "g "
      "i "
      "f ";
  }
}

:root {
  --color-header: #ac3931;
  --color-footer: #537d8d;
  --color-game: #e5d352;
  --color-info: #d9e76c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-header: #121212;
    --color-footer: #121212;
    --color-game: #142b44;
    --color-info: #343a40;
  }
}
