.header-container {
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
  min-height: 20vh;
}

header {
  color: aliceblue;
}
