.header-container {
  grid-area: h;
  background-color: #ac3931;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 250%;
}

header {
  color: aliceblue;
}
