.first-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.third-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}